# This is a basic workflow to help you get started with Actions

name: BuildMacApp

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: macos-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Check-out Repo  
        uses: actions/checkout@v4

      # Runs a single command using the runners shell
      - name: Setup Python
        uses: actions/setup-python@v5
        with: 
          python-version: "3.11"
          

      # Runs a set of commands using the runners shell
      - name: Install Dependencies 
        run: |
          python -m venv .venv
          source .venv/bin/activate
          pip install -U pip
          pip install -r requirements.txt
          pip install pyinstaller

      - name: BuildApp 
        run: |
          source .venv/bin/activate
          pyinstaller --windowed --onefile --name "Spectrum" main.py
          
      - name: UploadArtifact
        uses: actions/upload-artifact@v4 
        with:
          name: Spectrum-macos
          path: dist/Spectrum.app
        
      
          


  
